<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="column is-10" id="page-content">
                    <div class="content-header">
        <h4 class="title is-4">Inicio</h4>
        <span class="separator"></span>
        <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
            <ul>
                <li><a >General</a></li>
                <li class="is-active"><a href="#" aria-current="page">Inicio</a></li>
            </ul>
        </nav>
    </div>

    <div class="content-body">
        <h1 class="title is-1">Busqueda de alumnos</h1>
        <h3 class="subtitle is-5">(Realizar busqueda con <span class="is-family-code has-text-weight-bold"> ENTER</span>)</h3>
        <form action="{% url 'alumnos:search_results' %}" method="get">
            <input class="input" name="q" type="text" placeholder="Buscar alumno...">
        </form>
    </div>
            </div>
        </div>
{% endblock %}