<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="column is-10" id="page-content">
                    <div class="content-header">
        <h4 class="title is-4">Inicio</h4>
        <span class="separator"></span>
        <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
            <ul>
                <li><a >General</a></li>
                <li class="is-active"><a href="#" aria-current="page">Inicio</a></li>
            </ul>
        </nav>
    </div>

    <div class="content-body">
      
    
    </div>
            </div>
        </div>
{% endblock %}