{% extends 'base.html' %} {% load static %} {% block title %}Salones{% endblock %} {% block content %} 
    <div class="column is-10" id="page-content">
        <div class="content-header">
            <h4 class="title is-4">Salones</h4>
            <span class="separator"></span>
            <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                <ul>
                    <li><a>General</a></li>
                    <li class=""><a href="#" aria-current="page">Salones</a></li>
                    <p> Agregar</p> <a href="{% url 'salones:post' %}"><i class="fas fa-lg fa-plus"></i></a>
                </ul>
                
            </nav>
        </div>

        <div class="content-body">
        {% if salones_rec %} 
            <div class="columns is-mobile is-multiline is-centered">
            {% for salon in salones_rec %}
                <div class="column is-narrow">
                    <p class="bd-notification is-primary">
                        <i class="fas fa-school"></i>
                        <br> {{ salon.nombre }}
                        <br> <a href="{% url 'salones:delete' salon.pk %}"><font color="FFFFFF"><i class="fas fa-trash"></i></font></a>
                    </p>
                </div>
            {% endfor %} 
            </div>
        {% else %}
            <p>No hay salones dados de alta.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}