<!-- templates/home.html-->
{% extends 'base.html' %} {% load static %} {% block title %}{{grupo.nombre}}{% endblock %} {% block content %} 
    <div class="column is-10" id="page-content">
        <div class="content-header">
            <h4 class="title is-4">{{grupo.nombre}}</h4>
            <span class="separator"></span>
            <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                <ul>
                    <li><strong>Hora: </strong> {{ grupo.horario }} </li>
                    <li><strong>Salon: </strong></p> {{ grupo.salon}}</li>
                    <li><strong>Materia: </strong></p> {{ grupo.materia}}</li>
                </ul>
                
            </nav>
        </div>

        <div class="container is-fullhd">
            <h3 class="title is-3">Alumnos inscritos en el grupo</h3>
                {{grupo.alumno.all|join:", "}}
            
        </div>
</div>
{% endblock %}